.sidebar {
    width: 200px;
    padding: 20px;
    transition: width 0.3s ease;
    position: relative;
}

.sidebar.collapsed {
    width: 80px;

}

.sidebar h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    cursor: pointer;
    color: #007bff;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.collapsed h2 {
    opacity: 0;
    visibility: hidden;
}

.sidebar h2:hover {
    text-decoration: underline;
}

.sidebar ul {
    position: absolute;
    top: 60px;
    left: 20px;
    right: 20px;
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

.sidebar a:hover {
    color: #007bff;
}

.sidebar a:hover .link-text {
    transform: scale(1.2);
}

.sidebar a.selected .icon {
    background-color: #007bff;
    overflow: hidden;
}

.sidebar a.selected {
    color: #007bff;
    font-weight: bold;
}

.sidebar a.selected .icon svg {
    color: white;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
}

.icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

.link-text {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.collapsed .link-text {
    opacity: 0;
    visibility: hidden;
}

.hamburger {
    display: none;
    position: absolute;
    top: 20px;
    left: 25px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.sidebar.collapsed .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger svg {
    width: 24px;
    height: 24px;
    color: #333;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}